.productCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.productName {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.productCategory {
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 12px;
}

.productPrice {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
}
.imageContainer {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f0f0f0;
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productDescription {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 10px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 2.7em;
}
