.productCard {
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  background-color: var(--color-border);
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
}

.productCardName {
  font-size: 1rem;
}

.productCardPrice {
  font-size: 1.2rem;
  opacity: 0.8;
}

.productCardCategory {
  font-size: 0.9rem;
  opacity: 0.5;
}
